.content {
    margin: 0;
    min-height: 100vh;
}

.card {
    position: relative;
    padding: 0;
    margin: 0 !important;
    border-radius: 20px;
    overflow: hidden;
    max-width: 280px;
    max-height: 340px;
    cursor: pointer;
    border: none;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2)
}

.card .card-image {
    width: 100%;
    max-height: 340px
}

.card .card-image img {
    width: 100%;
    max-height: 340px;
    object-fit: cover
}

.card .card-content {
    position: absolute;
    bottom: -180px;
    color: rgb(10, 10, 10);
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(15px);
    min-height: 140px;
    width: 100%;
    transition: bottom .4s ease-in;
    box-shadow: 0 -10px 10px rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.2)
}

.card:hover .card-content {
    bottom: 0px
}

.card:hover .card-content h4,
.card:hover .card-content h5 {
    transform: translateY(10px);
    opacity: 1
}

.card .card-content h4,
.card .card-content h5 {
    font-size: 1.1rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    transition: 0.8s;
    font-weight: 500;
    opacity: 0;
    transform: translateY(-40px);
    transition-delay: 0.2s
}

.card .card-content h5 {
    transition: 0.5s;
    font-weight: 200;

    letter-spacing: 2px
}

@media(max-width: 991.5px) {
    .container {
        margin-top: 20px
    }

    .container .row .col-lg-4 {
        margin: 20px 0px
    }
}